 
.heading {
top: 22px;
margin: 0;
padding: 4px;
}

.heading_on_night {
color: #aa6e16;
}

table {
color: #cccccc;
}

h1 {
font-size: 20px;
}

.info {
color: gray;
font-size: 12px;
margin: 0;
}

.info_on_night {
color: #7c6b4f;
}

.bar {
height: 1px;
width: auto;
background-color: #eaeaea;
margin-top: 4px;
margin-bottom: 0px;
}

.bar_on_night {
background-color: #303037;
}

.night_bg {
background-color: #201F25;
color: #5F5F69;
line-height: 24px;
padding: 0px 2px;
}

.fontsizeone {
font-size: 15px;
}

.fontsizetwo {
font-size: 17px;
}

.fontsizethree {
font-size: 20px;
}
/*游民评测*/
/*橙色版本*/
.review_Table1 {
width: 100%;
height: 194px;
border: 0;
border-collapse: collapse;
background: #282a2d;
}

.review_Table1 .review_td1 {
    width: 100%;
    height: 25px;
    background: url(http://img.gamersky.com/webimg08/review_bg.gif);
    overflow: hidden;
}

.review_Table1 .review_td2 {
    width: 20%;
    line-height: 56px;
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #171717;
}

.review_Table1 .review_td3 {
    width: 80%;
    height: 16px;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-color: #d8602e;
    padding-left: 8px;
    padding-top: 8px;
}

.review_Table1 .review_td4 {
    width: 80%;
    height: 20px;
    color: #fff;
    font-size: 12px;
    text-align: left;
    background-color: #d8602e;
    padding-left: 8px;
}

.review_Table1 .review_td5 {
    width: 20%;
    height: auto;
}

.review_Table1 .review_td6 {
    width: 80%;
    height: 70px;
    line-height: 22px;
    font-size: 14px;
    font-family: '宋体';
    color: #ccc;
    padding: 8px 4px 0 0;
    text-indent: 2em;
}

.review_Table1 .review_td7 {
    line-height: 28px;
    font-size: 28px;
    font-family: '黑体';
    font-weight: bold;
    color: #EC7339;
    padding-bottom: 5px;
    text-align: center;
    writing-mode: tb-rl;
}

.review_Table1 .review_td8 {
    width: 100%;
    height: 25px;
    background: url(http://img.gamersky.com/webimg08/review_bg.gif);
    overflow: hidden;
}

.review_Table2 {
width: 100%;
height: auto;
border: 0;
background-color: #282a2d;
border-bottom: 3px solid #c75028;
}

.review_Table2 .review_td1, .review_Table2 .review_td2, .review_Table2 .review_td3, .review_Table2 .review_td4 {
    width: 50%;
    color: #ccc;
    text-align: left;
    padding-bottom: 4px;
    height: auto;
    vertical-align: top;
}

.review_Table2 .review_td1, .review_Table2 .review_td2 {
    background: url(http://img.gamersky.com/webimg08/review_good.gif) no-repeat center;
}

.review_Table2 .review_td3, .review_Table2 .review_td4 {
    background: url(http://img.gamersky.com/webimg08/review_bad.gif) no-repeat center;
}

.review_Table2 .review_td1, .review_Table2 .review_td3 {
    padding-left: 32px;
    background-position: 8px 0;
}

.review_Table2 .review_td2, .review_Table2 .review_td4 {
    padding-left: 26px;
    background-position: 0 0;
}

.review_Table2 .review_td5 {
    width: auto;
    height: 14px;
    background: url(http://img.gamersky.com/webimg08/review_10.jpg) 0 0 no-repeat;
    overflow: hidden;
    padding-right: 8px;
}

.review_Table2 .review_td6 {
    width: 100%;
    height: 5px;
}


/*蓝色版本*/

.review_blue_Table1 {
width: 100%;
height: 194px;
border: 0;
border-collapse: collapse;
background: #282a2d;
}

.review_blue_Table1 .review_td1 {
    width: 100%;
    height: 25px;
    background: url(http://img.gamersky.com/webimg08/review_bg.gif);
    overflow: hidden;
}

.review_blue_Table1 .review_td2 {
    width: 20%;
    line-height: 56px;
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #171717;
}

.review_blue_Table1 .review_td3 {
    width: 80%;
    height: 16px;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-color: #059dc2;
    padding-left: 8px;
    padding-top: 8px;
}

.review_blue_Table1 .review_td4 {
    width: 80%;
    height: 20px;
    color: #fff;
    font-size: 12px;
    text-align: left;
    background-color: #059dc2;
    padding-left: 8px;
}

.review_blue_Table1 .review_td5 {
    width: 20%;
    height: auto;
}

.review_blue_Table1 .review_td6 {
    width: 80%;
    height: 70px;
    line-height: 22px;
    font-size: 14px;
    font-family: '宋体';
    color: #ccc;
    padding: 8px 4px 0 0;
    text-indent: 2em;
}

.review_blue_Table1 .review_td7 {
    line-height: 28px;
    font-size: 28px;
    font-family: '黑体';
    font-weight: bold;
    color: #059dc2;
    padding-bottom: 5px;
    text-align: center;
    writing-mode: tb-rl;
}

.review_blue_Table1 .review_td8 {
    width: 100%;
    height: 25px;
    background: url(http://img.gamersky.com/webimg08/review_bg.gif);
    overflow: hidden;
}


.review_blue_Table2 {
width: 100%;
height: auto;
border: 0;
background-color: #282a2d;
border-bottom: 3px solid #059dc2;
}

.review_blue_Table2 .review_td1, .review_blue_Table2 .review_td2, .review_blue_Table2 .review_td3, .review_blue_Table2 .review_td4 {
    width: 50%;
    color: #ccc;
    text-align: left;
    padding-bottom: 4px;
    height: auto;
    vertical-align: top;
}

.review_blue_Table2 .review_td1, .review_blue_Table2 .review_td2 {
    background: url(http://img.gamersky.com/webimg08/review_good.gif) no-repeat center;
}

.review_blue_Table2 .review_td3, .review_blue_Table2 .review_td4 {
    background: url(http://img.gamersky.com/webimg08/review_bad.gif) no-repeat center;
}

.review_blue_Table2 .review_td1, .review_blue_Table2 .review_td3 {
    padding-left: 32px;
    background-position: 8px 0;
}

.review_blue_Table2 .review_td2, .review_blue_Table2 .review_td4 {
    padding-left: 26px;
    background-position: 0 0;
}

.review_blue_Table2 .review_td5 {
    width: auto;
    height: 14px;
    background: url(http://img.gamersky.com/webimg08/review_10.jpg) 0 0 no-repeat;
    overflow: hidden;
    padding-right: 8px;
}

.review_blue_Table2 .review_td6 {
    width: 100%;
    height: 5px;
}

.section {
width: 96%;
min-width: 300px;
padding: 12px 2%;
height: auto;
background-color: #F4F4F4;
overflow: hidden;
}

.section .art {
    margin-bottom: 8px;
    width: 100%-10px;
    height: auto;
    overflow: hidden;
}

    .section .art .head1 {
        float: left;
        width: 64px;
        height: 64px;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 5px;
        margin: 0px 6px;
    }

        .section .art .head1 a img {
            width: 64px;
            height: 64px;
        }

    .section .art .wubta .head2 .tit {
        color: #666;
        width: auto;
        overflow: hidden;
        display: block;
        float: left;
    }

    .section .art .wubta .head2_coed .tit_coed {
        width: auto;
        height: 20px;
        overflow: hidden;
        float: left;
    }

    .section .art .wubta .head2_coed .author_coed, .section .art .wubta .head2 .author {
        width: auto;
        min-width: 138px;
        height: auto;
        overflow: hidden;
        color: #FD7F41;
        display: block;
    }

    .section .art .wubta .head2_coed .coed {
        margin-top: 5px;
    }

    .section .art .head3 {
        width: auto;
        min-width: 300px;
        height: auto;
        overflow: hidden;
        font-size: 16px;
        color: #333;
        border-top: solid 1px #E2E2E2;
        padding-top: 10px;
        clear: both;
        margin-top: 10px;
    }

.section .head1 a .mask {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9999;
    background: none;
}

.section .art .wubta .head2_coed .more, .section .art .wubta .head2 .more {
    display: none;
}

.section .art .wubta .head2_coed .wlaut_coed, .section .art .wubta .head2 .wlaut {
    color: #FD7F41;
}

.section .art .wubta {
    width: 75%;
    height: 64px;
}

.section .art .wubta tr {
    height: auto;
    width: 75%;
}

.section .art .wubta tr td {
    height: auto;
}
 /*------------------------------------------------ -x68
	相关阅读
------------------------------------------------ -x68*/
.list {display:block; width:auto; height:auto; border-radius:2px; border:1.0px solid #e0e0e0; border-top:7px solid #ddd; border-bottom:1px solid #bbb; padding:10px 10px 0 10px;  background:#f7f7f7;}
	.PageColorMode_Day .list {border:1.0px solid #e0e0e0; border-top:7px solid #ddd; border-bottom:1px solid #bbb; background:#f7f7f7;}
	.PageColorMode_Night .list {border:1.0px solid #1d1c21; border-top:7px solid #0e0e0e; border-bottom:1px solid #040404; background:#17181a;}
.list .tit {margin:0 0 10px -10px; padding-left:5px; width:auto; height:20px; line-height:20px; font-weight:bold;}
	.PageColorMode_Day .list .tit {color:#333;}
	.PageColorMode_Night .list .tit {color:#576476;}
.list .txtlist {display:block; width:auto; height:auto;}
.list .txtlist a {display:block;}
.list .txtlist .Row {display:block; width:100%; height:40px; line-height:40px; font-size:14px; white-space:nowrap; text-overflow:ellipsis;}
.PageColorMode_Day .list .txtlist .Row {border-top:1.0px solid #e0e0e0; color:#333;}
.PageColorMode_Night .list .txtlist .Row {border-top:1.0px solid #2a2e38; color:#576476;}
.list .more {display:block; border-top:1.0px solid #2a2e38; width:100%; font-size:14px; height:40px; line-height:40px; text-align:center; color:#5f5f69;}
.PageColorMode_Day .list .more {border-top:1.0px solid #e0e0e0; color:#333;}
.PageColorMode_Night .list .more {border-top:1.0px solid #2a2e38; color:#5f5f69;}
.list .more a {display:block;}

 .PageColorMode_Day .list .tit.red {border-left:5px solid #f22f09;}
.PageColorMode_Night .list .tit.red {border-left:5px solid #812c25;}
.PageColorMode_Day .list .tit.yellow {border-left:5px solid #ffc600;}
.PageColorMode_Night .list .tit.yellow {border-left:5px solid #867025;}
.PageColorMode_Day .list .tit.blue {border-left:5px solid #3fa5ee;}
.PageColorMode_Night .list .tit.blue {border-left:5px solid #477399;}

#gsTemplateContent_RelatedReadingContent {margin-left:-15px; margin-right:-45px;}
#gsTemplateContent_RelatedReadingContent .Row {padding:0px;}
#gsTemplateContent_RelatedReadingContent .Row div {margin:0px 40px 0px 10px; white-space:nowrap; text-overflow:ellipsis;}
#gsTemplateContent_RelatedReadingContent .Button {text-align:center; color:#888;}
.PageColorMode_Day #gsTemplateContent_RelatedReadingContent .Button {color:#888;}
.PageColorMode_Night #gsTemplateContent_RelatedReadingContent .Button {color:#5a5a60;}

.PageColorMode_Day .list .tit.red {border-left:5px solid #f22f09;}
.PageColorMode_Night .list .tit.red {border-left:5px solid #812c25;}
.PageColorMode_Day .list .tit.yellow {border-left:5px solid #ffc600;}
.PageColorMode_Night .list .tit.yellow {border-left:5px solid #867025;}
.PageColorMode_Day .list .tit.blue {border-left:5px solid #3fa5ee;}
.PageColorMode_Night .list .tit.blue {border-left:5px solid #477399;}

/*------------------------------------------------ -x68
	相关专题
------------------------------------------------ -x68*/
#gsTemplateContent_RelatedTopic {display:none;-webkit-user-select:none;}
#gsTemplateContent_RelatedTopicContent {display:block; width:100%; height:auto; padding:0px;}
#gsTemplateContent_RelatedTopicContent table {margin-bottom:10px; border:1.0px solid #d3d3d3; width:100%; height:74px;}
	.PageColorMode_Day #gsTemplateContent_RelatedTopicContent table {border:1.0px solid #d3d3d3;}
	.PageColorMode_Night #gsTemplateContent_RelatedTopicContent table {border:1.0px solid #222b38;}
#gsTemplateContent_RelatedTopicContent .Content img {float:left; margin:0px 6px 0px 6px; width:94px; height:54px;}
#gsTemplateContent_RelatedTopicContent .Content .Title {float:none; width:auto; height:34px; line-height:54px; font-size:16px;}
	.PageColorMode_Day #gsTemplateContent_RelatedTopicContent .Content .Title {color:#333;}
	.PageColorMode_Night #gsTemplateContent_RelatedTopicContent .Content .Title {color:#576476;}
#gsTemplateContent_RelatedTopicContent .Content .Subtitle {float:none; width:auto; height:20px; line-height:20px; font-size:14px;}
	.PageColorMode_Day #gsTemplateContent_RelatedTopicContent .Content .Subtitle {color:#a5a5a5;}
	.PageColorMode_Night #gsTemplateContent_RelatedTopicContent .Content .Subtitle {color:#464950;}
#gsTemplateContent_RelatedTopicContent .ButtonArea {width:74px;}
#gsTemplateContent_RelatedTopicContent .Button {border-radius:2px; width:54px; height:30px; line-height:30px; text-align:center; font-size:12px;}
	.PageColorMode_Day #gsTemplateContent_RelatedTopicContent .Button {background:#ee5449; color:#f7f7f7;}
	.PageColorMode_Night #gsTemplateContent_RelatedTopicContent .Button {background:#812c25; color:#c6a09d;}
#gsTemplateContent_RelatedTopicContent .Readed {}
	.PageColorMode_Day #gsTemplateContent_RelatedTopicContent .Readed {background:#6699ff;}
	.PageColorMode_Night #gsTemplateContent_RelatedTopicContent .Readed {background:#336699;}

