.fontsizeone
{
    font-size: 14px;
}

.fontsizetwo
{
    font-size: 17px;
}

.fontsizethree
{
    font-size: 20px;
}

html
{
	/*-ms-content-zoom : none;*/
	font-family: "Arial","Microsoft YaHei","ºÚÌå","ËÎÌå",sans-serif;
}
body
{
	overflow-x: hidden;
	background-color: #f7f7f7;
	text-align: justify;
	word-break: break-word;
}
.PageColorMode_Day body
{
	background-color: #f7f7f7;color: #333;
}
.PageColorMode_Night body
{
	background-color: #17181a;color: #576476;
}
.heading 
{
	margin: 0;
	padding: 0;
	top: 22px;
	line-height: 28px;
	color: #333;
}
.PageColorMode_Day .heading
{
	color: #333;
}
.PageColorMode_Night .heading
{
	color: #966122;
}
.info
{
	margin: 0;
	padding: 0 4px;
	line-height: 22px;
	color: gray;
	font-size: 16px;
	color: #848484;
}
.bar
{
	display: block;
	border-top: 1px solid #bbb;
	width: auto;
	height: auto;
	font-size: 19px;
}
.PageColorMode_Day .bar
{
	background-color: #eaeaea;
}
.PageColorMode_Night .bar
{
	background-color: #2a2e38;
}
p
{
	margin: 10px auto;
}
h1 
{
	text-align: left;
	font-size: 20px;
}
img
{
	height: auto;
	width: auto;
	width: 100% !important;
}
a
{
	color: #3871c8;
	text-decoration: none;
}
/*#youkuplayer_0
{
	width: 100% !important;
	height: auto;
}
#youku-player
{
	width: 100% !important;
	 
}*/ 

#ScrollToTop
{
    position:fixed;
    bottom: 30px;
    left:91%;
    width:70px;
    zoom:1;
}

#ScrollToTop a
{
    background:#787474;
    color:#fff;
    display:block;
    width:40px;
    height:40px;
}

div,ul,li{overflow: hidden;}
#gsTemplateContent_MainBody {line-height:150%;}
#gsTemplateContent_MainBody p {display:block;}
#gsTemplateContent_MainBody #youkuplayer0 img {display:inherit; visibility:visible;}